*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #F6F5F2;
    --second-color: #76453B;
    --header-color: #e0d5c7;
    --shadow-color: rgba(0,0,0,.2);
    --popup-color: #666;
    --imgbg-color: #B19470;
}

.dark-mode{
    --bg-color: #121212;
    --text-color: #fdfdfd;
    --main-color: #1d1b1b;
    --second-color: #76453B;
    --header-color: #181818;
    --shadow-color: rgba(0,0,0,.7);
    --overlay-color: #1d1b1b;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

span{
    color: var(--second-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1%;    
    display: flex;
    align-items: center;
    z-index: 100;
    background: var(--header-color);
}

.logo{
    margin-right : auto;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.navBar{
    margin-right: 8rem;
}

.navBar a{
    position: relative;
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 3rem;
    color: var(--text-color);    
}

.header .navBar a.active{
    color: var(--second-color);
}

.navBar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background-color: var(--second-color);    
}

.header.sticky .navBar a::before{
    background-color: var(--second-color);
    opacity: .7;
}

#darkMode-icon{
    font-size: 2.4rem;
    color: var(--text-color);
    cursor: pointer;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display:none;
}

section{    
    min-height: 85vh;
    padding: 10rem 7% 2rem;
}

/* home section style */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, var(--bg-color) 0%, var(--main-color) 100%);
}

.home .home-content{
    max-width: 50rem;
    margin-right: 10rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    margin: 1rem 0 2rem 0;
}

.home-content p{
    font-size: 1.6rem;
    margin: 1rem 5rem 0 0;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: .2rem solid var(--second-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.5rem;
    color: var(--second-color);
    margin: 2.5rem 1rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover{
    color: var(--bg-color);
    background-color: var(--second-color);
}

.primarybtn {
    display: inline-block;
    padding: 1rem 1.5rem;
    background: var(--second-color);
    border-radius: 5rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    border: .2rem solid transparent;
    transition: .5s ease;
    margin-top: 20px;
}

.primarybtn:hover{
    background-color: transparent;
    color: var(--second-color);
    border-color: var(--second-color);
}

.secondbtn{
    display: inline-block;
    padding: 1rem 1.5rem;
    background: transparent;
    border-radius: 5rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--second-color);    
    font-weight: 500;
    border: .2rem solid var(--second-color);
    transition: .5s ease;
    margin-top: 3rem;
}

.secondbtn:hover{
    background-color: var(--bg-color);;
    border-color: var(--second-color);
}

.home-img{
    background-color: var(--popup-color);
    height: 325px;
    width: 250px;
    padding: 3rem;
    position: relative;
}

.home-img img{
    pointer-events: none;
    height: 325px;
    width: 250px;
    padding: 1rem;
    background-color: var(--imgbg-color);
}

.heading{
    font-size: 5rem;
    text-align: center;
    margin: 3rem 0;
}

/* qualification section style */
.qualification{
    padding:50px 15px;
    background: radial-gradient(closest-side, var(--bg-color), var(--main-color));
}

.qualification h2{
    margin-bottom: 3rem;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--second-color);
    left:calc(50% - 1px);
}

.timeline-item{
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--second-color);
    box-shadow: 0 0 25px var(--second-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
}

.timeline-date{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin: 0px 0 15px;
}

.timeline-content{
    background-color: transparent;
    border: 3px solid var(--second-color);
    padding: 15px 15px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--second-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--second-color);
}

.timeline-content h3{
    font-size: 18px;
    color: var(--second-color);
    font-weight: 700;
}

.timeline-content h4{
    font-size: 16px;
    color: var(--text-color);
    margin: 0 0 8px;
    font-weight: 700;
}

.timeline-content p{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
}



/* project section style */
.latest-projects {
    padding-bottom: 10rem;
    background: linear-gradient(0deg, var(--bg-color) 0%, var(--main-color) 100%);
}

.latest-projects h2 {
    margin-bottom: 4rem;
}

.latest-projects .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-card {
    position: relative;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.project-card img{
    width: 100%;
    height: 100%;
    transition:  .5s ease;
}

.project-card:hover img{
    transform: scale(1.1);
}

.project-card .project-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
}

.project-card:hover .project-info{
    opacity: 0.7;
}

.project-card .project-title{
    font-size: 3rem;
}

.project-card p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-card a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 50%;
}

.project-card a i{
    font-size: 2rem;
    color:black;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);   
}

.project-card:hover .project-description {
    transform: translateY(0);
}

/* about section style */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: linear-gradient(180deg, var(--bg-color) 0%, var(--main-color) 100%);;
}

.about-img{
    background-color: var(--popup-color);
    height: 325px;
    width: 250px;
    padding: 3rem;
    position: relative;
}

.about-img img{
    pointer-events: none;
    height: 325px;
    width: 250px;
    padding: 1rem;
    background-color: var(--imgbg-color);
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2rem;    
}

.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.read-more-content {
    max-height: 200px; /* Limit height to show partial content */
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.read-more-content.open {
    max-height: none; /* Show full content when open */
}

/* contact section style */
.contact {
    background: linear-gradient(180deg, var(--main-color) 0%, var(--bg-color) 100%);
    padding: 40px 0;
}

.contact .box {
    max-width: 100%;
    margin: 50px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contact .box #pop-up{
    font-size: 3rem;    
    position: absolute;
    margin: auto;
    width: 50%;
    height: 50%;
    left: 25%;
    background-color: transparent;
    opacity: 0.7;
    padding: 10px;
    z-index: -1;
    color: white;
    text-decoration: wavy;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.contact .box .form {
    flex: 1 1 45%;
    background-color: transparent;
    border-radius: 8px;
    margin-left: 50px;
}

.contact .box .contactInfo-border {
    width: 35%;
    height: 100%;
    display: block;
    margin-right: 100px;
    background-color: rgba(128, 128, 128, 0.361);
}

.contact .box .contactInfo {
    flex: 1 1 45%;
    text-align: left;
    margin: 40px;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: block;
    background-color: var(--imgbg-color);
    color: var(--bg-color);
}

.contact .info-title {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 30px;
}

.contact .info-subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--popup-color);
    font-weight: 300;
    letter-spacing: 0.5px;
}

.contact .info-details {
    list-style-type: none;
    padding: 0;
}

.contact .info-details li {
    margin-bottom: 15px;
    font-size: 16px;
}

.contact .info-details li i {
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 12px;
    border-radius: 50%;
}

.contact .info-details li a {
    color: var(--text-color);
    text-decoration: none;
    pointer-events: none;
}

.contact .info-details li a:hover {
    color: var(--bg-color);
}

/* Form styling */
.contact .form-title {
    font-size: 3rem;
    color: var(--text-color);
}

.contact .form-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .form-group {
    flex: 1 1 100%;
    margin-bottom: 15px;
    display: flex;
}

.contact .form-group input,
.contact .form-group textarea {
    width: 75%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 4px;
}

.contact .form-group.error input,
.contact .form-group.error textarea{
    border-color: #e74c3c;
}

.contact .form-group small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.contact .form-group.error small{
    visibility: visible;
    color: #e74c3c;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact label {
    font-size: 1rem;
    padding: 5px;
    display: block;
}

.contact .form-group textarea {
    height: 120px;
    resize: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background-color: var(--header-color);
}

.footer-text p{
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--bg-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--bg-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--text-color);
}

/* Responsive styles */
@media (max-width: 1920px) {
    html{
        font-size: 65%;
    }
    section{    
        min-height: 90vh;
    }
    .home-img img{
        height: 400px;
        width: 310px;
    }
    .home-img{
        height: 400px;
        width: 310px;
    }
}

@media (max-width: 1280px) {
    html{
        font-size: 60%;
    }
    .home-content h1 {
        font-size: 4rem;
    }

    .timeline-date{
        font-size: 17px;
        font-weight: 500;
        margin: 0px 0 14px;
    }
    
    .timeline-content{
        padding: 12px 12px;        
    }

    .timeline-content h3{
        font-size: 15px;
        font-weight: 600;
    }
    
    .timeline-content h4{
        font-size: 15px;
        margin: 0 0 8px;
        font-weight: 600;
    }
    
    .timeline-content p{
        font-size: 13px;
        font-weight: 100;
        line-height: 20px;
    }

    .about {
        gap: 20rem;
    }

    .about-content h3 {
        font-size: 1.8rem;
    }

    .about-content p {
        font-size: 1.4rem;
    }

    .contact .box {
        margin: 20px;
    }

    .contact .box .contactInfo-border {
        width: 40%;
        margin-right: 50px;
    }
}

@media (max-width: 1024px) {

    section{
        padding: 10rem 3% 2rem;
    }

    .contact .box {
        flex-direction: column;
    }

    .contact .box .contactInfo-border,
    .contact .box .form {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
    }

    .contact .box .contactInfo {
        margin: 20px 0;
    }
}

@media(max-width:991px){
    html{
        font-size: 50%;
    }
    .home .home-content{
        margin-right: 10rem;
        max-width: 50rem;
    }
    .home-img{
        height: 250px;
        width: 200px;
        padding: 3rem;
    }  
    .home-img img{
        height: 250px;
        width: 200px;
    }
    footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {

    section{
        min-height: 0;
    }

    #menu-icon{
        display: block;
    }

    #darkMode-icon{
        position:absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .home-img{
        display: none;
    }  
    .home-img img{
        display: none;
    }
    .navBar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        display: none;
    }

    .navBar.active{
        display: block;
    }

    .navBar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .timeline-date{
        font-size: 12px;
        font-weight: 300;
        margin: 0px 0 14px;
    }

    .navBar a:nth-child(1),
    .navBar a:nth-child(2){
        color: var(--text-color);
    }

    .navBar a.active{
        color: var(--main-color);
    }

    .navBar a::before{
        display: none;
    }

    .home{
        padding: 10rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 4rem;
    }

    .home-content .social-media a{
        margin: 2.5rem .75rem 3rem;
    }

    .timeline-content{
        padding: 12px 12px;        
    }

    .timeline-content h3{
        font-size: 12px;
        font-weight: 400;
    }
    
    .timeline-content h4{
        font-size: 12px;
        margin: 0 0 8px;
        font-weight: 400;
    }
    
    .timeline-content p{
        font-size: 10px;
        font-weight: 50;
        line-height: 18px;
    }

    .latest-projects .project-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }
    .about {
        gap: 5rem;
    }
    .about-img{
        height: 300px;
        width: 220px;
    }
    
    .about-img img{
        height: 300px;
        width: 220px;
    }
    .contact .info-title {
        font-size: 1.5rem;
    }

    .contact .info-subtitle {
        font-size: 1.2rem;
    }

    .contact .info-details li {
        font-size: 14px;
    }

    .contact .form-title {
        font-size: 2rem;
    }

    .contact .form-subtitle {
        font-size: 1.2rem;
    }

    .contact .form-group input,
    .contact .form-group textarea {
        width: 100%;
    }

    .contact .form-group textarea {
        height: 100px;
    }
}
/* std */
@media (max-width: 610px) {
    html{
        font-size: 40%;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .about-img{
        height: 275px;
        width: 200px;
    }
    
    .about-img img{
        height: 275px;
        width: 200px;
    }
}

@media (max-width: 576px) {

    .about-img{
        height: 200px;
        width: 150px;
    }
    
    .about-img img{
        height: 200px;
        width: 150px;
    }
    
    .contact {
        padding: 20px 0;
    }

    .contact .box {
        margin: 10px;
    }

    .contact .box .form {
        margin-left: 0;
    }

    .contact .form-group input,
    .contact .form-group textarea {
        font-size: 0.9rem;
    }

    .contact .form-group textarea {
        height: 80px;
    }
}

@media(max-width: 450px){
    html{
        font-size: 30%;
    }
    #darkMode-icon{
        right: 6rem;
    }

    .home{
        padding: 0 3% 30rem ;
    }
    
}

@media (max-width: 365px){
    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

